:root {
  --max-width: 120rem;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;

  --schiphol-blue: #141251;
  --afternoon-blue: #1b60db;
  --grey-overcast: #9491aa;
  --grey-scattered: #eae9ee;
  --white: #fff;
  --dark-red: #d0021b;
  --light-blue: #eef6ff;
}

@font-face {
  font-family: "Neue Frutiger";
  src: url("/762936d2-5fd0-484d-a6b7-06975c10309b.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Frutiger";
  src: url("/8ab18fdf-eafc-45e8-bcfe-c40eada92597.woff2");
  font-weight: bold;
  font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #141251;
  font-family: Neue Frutiger;
  font-kerning: normal;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
