.find-a-flight {
  background-color: var(--white);
  color: var(--schiphol-blue);
  min-width: 24rem;
  padding: 1.5rem;
}

.find-a-flight__title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  line-height: 1.1429;
}

.find-a-flight__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.find-a-flight__error {
  color: var(--dark-red);
  font-size: 0.87rem;
}

.find-a-flight__submit-container {
  position: relative;
  width: 100%;
}

.find-a-flight__submit {
  background-color: transparent;
  color: var(--afternoon-blue);
  cursor: pointer;
  bottom: 0;
  border: 0;
  height: auto;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
}

.find-a-flight__submit:hover {
  background-color: var(--afternoon-blue);
  color: var(--white);
  outline: 0;
}

@media screen and (max-width: 55rem) {
  .find-a-flight {
    margin: 0.5rem -1.5rem -1.5rem;
  }
}
